name: Docker Image CI

on:
  workflow_dispatch: # 手动触发

env:
  BUILD_VERSION: latest
  IMAGE_NAME: ${{ secrets.REGISTRY_URL }}/${{ secrets.REGISTRY_NAMESPACE }}/thingsboard

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: 检查磁盘空间
        run: df -h
      - name: 清理磁盘空间
        run: |
         sudo rm -rf /usr/share/dotnet
         sudo rm -rf /usr/local/lib/android
         sudo rm -rf /opt/ghc
         sudo rm -rf /opt/hostedtoolcache/CodeQL
         docker system prune -af
         df -h
      - name: 拉取Gitee仓库内容
        run: |
          git clone --branch master https://${{ secrets.GITEE_USERNAME }}:${{ secrets.GITEE_TOKEN }}@gitee.com/taozhang09/thingsboard.git source-code
      - name: 安装 JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: 缓存 Maven 本地仓库
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: maven-${{ runner.os }}-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            maven-${{ runner.os }}-
      - name: 使用 Maven 构建 jar（跳过测试）
        run: mvn clean install -DskipTests -Dlicense.skip=true
        working-directory: ./source-code
      - name: 将打好的 jar 复制为 Docker 构建使用名
        run: |
          mkdir docker-context
          cp ./source-code/application/target/thingsboard-4.0.2-boot.jar docker-context/
          cp ./source-code/application/src/main/conf/logback.xml docker-context/
          cp ./source-code/Dockerfile docker-context/
      - name: 查看 docker-context 目录内容
        run: ls -l docker-context
      - name: 设置 Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: 登录到国内镜像仓库
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.REGISTRY_URL }}
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}
#      - name: 登陆 Docker Hub
#        uses: docker/login-action@v3
#        with:
#          username: ${{ secrets.DOCKER_HUB_USERNAME }}
#          password: ${{ secrets.DOCKER_HUB_TOKEN }}
      - name: 构建并推送 Docker 镜像
        uses: docker/build-push-action@v5
        with:
          context: docker-context
          file: docker-context/Dockerfile
          push: true
          tags: ${{ env.IMAGE_NAME }}:${{ env.BUILD_VERSION }}
          platforms: linux/amd64,linux/arm64
          build-args: |
            BUILD_VERSION=${{ env.BUILD_VERSION }}
            MAINTAINER=${{ secrets.REGISTRY_USERNAME }}
